.article {
  display: flex;
}

.avatar {
  &__photo {
    border-radius: 0;
  }

  &__intro {
    display: inline-flex;
  }
  &__name {
    font-weight: normal;
  }
}
.content {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tags {
  display: inline;
}

.tag {
  margin: 0 0.4rem 0.5rem 0;
  display: inline-block;
}
